body {
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #000;
    min-width: 320px;
    overflow-x: hidden;
    height: auto;
    background-image: url('https://foni.club/uploads/posts/2023-01/thumbs/1674393174_foni-club-p-zhelto-belii-fon-18.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #ffeef4;
    height: 100%;
}

.mm {
    margin: 10px;
    border-bottom: 2px solid yellow;
    padding: 10px;
    font-size: 21px;
    cursor: pointer;
    transition: color 0.3s;
}

.mm:hover {
    color: #0056b3;
}

.header {
    border-bottom: 3px solid black;
    padding: 15px;
    display: flex;
    justify-content: center;
    background-color: yellow;
}

h1 {
    text-align: center;
    font-size: 36px;
    color: #333;
    margin-top: 20px;
}

#cart-items {
    list-style: none;
    padding: 0;
}

#cart-items li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

#checkout-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#checkout-button:hover {
    background-color: #0056b3;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}